@charset "UTF-8";
header {
  background-color: #efd3df;
  height: 90px;
  width: 100%;
}
header .navbar {
  background-color: #efd3df;
  padding-top: 25px;
}

.carousel {
  margin-top: 5rem;
  background-color: #f3e2ea;
}
.carousel .carousel__content .card__header {
  margin: 2rem;
  color: #f752ba;
}
.carousel .carousel__content .card__header h1 {
  text-transform: uppercase;
}
.carousel .carousel__content .card__body #btnAddStudent,
.carousel .carousel__content .card__body #btnAddEmployee,
.carousel .carousel__content .card__body #btnAddCustomer {
  background-color: #efd3df;
  color: black;
}
.carousel .carousel__content .card__body #tableProduct {
  overflow-x: auto;
}
.carousel .carousel__content .card__body .carousel__select .card-group {
  gap: 20px;
}
.carousel .carousel__content .card__body .carousel__select .card-group .form-select {
  display: block;
  padding: 7px 7px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ced4da;
}
.carousel .carousel__modal .modal-header {
  background-color: #efd3df;
}
.carousel .carousel__modal .modal-footer .btn__addStudent,
.carousel .carousel__modal .modal-footer .btn__addEmployee,
.carousel .carousel__modal .modal-footer .btn__addCustomer,
.carousel .carousel__modal .modal-footer .btn__updateStudent,
.carousel .carousel__modal .modal-footer .btn__updateEmployee,
.carousel .carousel__modal .modal-footer .btn__updateCustomer {
  background-color: #efd3df;
}

@media screen and (max-width: 992px) {
  .carousel .carousel__content .card__header h1 {
    font-size: 2.5rem;
  }
}
table.dataTable > thead .sorting, table.dataTable > thead .sorting_asc, table.dataTable > thead .sorting_desc, table.dataTable > thead .sorting_asc_disabled, table.dataTable > thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative;
}
table.dataTable > thead .sorting::before, table.dataTable > thead .sorting_asc::before, table.dataTable > thead .sorting_desc::before, table.dataTable > thead .sorting_asc_disabled::before, table.dataTable > thead .sorting_desc_disabled::before {
  right: 1em;
  content: "↑";
}
table.dataTable > thead .sorting_asc::before, table.dataTable > thead .sorting_desc::after {
  opacity: 1;
}
table.dataTable > thead > tr > th:not(.sorting_disabled), table.dataTable > thead > tr > td:not(.sorting_disabled) {
  padding-right: 30px;
}
table.dataTable > thead > tr > th:active, table.dataTable > thead > tr > td:active {
  outline: none;
}
table.dataTable > thead .sorting::after, table.dataTable > thead .sorting_asc::after, table.dataTable > thead .sorting_desc::after, table.dataTable > thead .sorting_asc_disabled::after, table.dataTable > thead .sorting_desc_disabled::after {
  right: 0.5em;
  content: "↓";
}
table.dataTable > thead .sorting::before, table.dataTable > thead .sorting::after, table.dataTable > thead .sorting_asc::before, table.dataTable > thead .sorting_asc::after, table.dataTable > thead .sorting_desc::before, table.dataTable > thead .sorting_desc::after, table.dataTable > thead .sorting_asc_disabled::before, table.dataTable > thead .sorting_asc_disabled::after, table.dataTable > thead .sorting_desc_disabled::before, table.dataTable > thead .sorting_desc_disabled::after {
  position: absolute;
  bottom: 0.9em;
  display: block;
  opacity: 0.3;
}
table.table-bordered.dataTable th,
table.table-bordered.dataTable td {
  border-left-width: 0;
}/*# sourceMappingURL=style.css.map */